.root {
    -fx-background-color: #f0f0f0; /* Couleur de fond */
}

.grid-pane {
    -fx-background-color: #ffffff; /* Couleur de fond de la grille */
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px;
}

.label {
    -fx-font-weight: bold;
}

.text-field, .choice-box {
    -fx-pref-width: 200px;
}

.button {
    -fx-background-color: #4CAF50; /* Couleur de fond du bouton */
    -fx-text-fill: white; /* Couleur du texte du bouton */
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #45a049; /* Couleur de fond du bouton lors du survol */
}
