/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 12 27, 22, 1:33:39 PM
    @author MarcoMan
 * Subscribe our YouTube Channel: https://www.youtube.com/@marcomanchannel
*/

.border-pane{
    -fx-border-color: #000;
    -fx-border-width: .4px;
}

.top-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .8px .4px;
}
.semi-top{
    -fx-background-color: #ddd;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .4px .4px;
}
.close-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close-btn:hover{
    -fx-background-color: #f85757;
}

.minimize-btn{
    -fx-background-color: transparent;
    -fx-cursor:hand;
}
.minimize-btn:hover{
    -fx-background-color: #ddd;
}

.nav{
    -fx-background-color: #2c3e50;
    -fx-border-radius: 10;
}

.nav1{
    -fx-background-color: linear-gradient(to top right, #7AA95C , #7AA95C);
    -fx-border-radius: 10;
}
.nav-border{
    -fx-border-color: #000;
    -fx-border-width: 0px .2px .4px .4px;
}

.nav-btn{
    -fx-background-color: transparent;
    -fx-cursor:hand;
    -fx-border-color: #fff;
    -fx-text-fill: #fff;
    -fx-border-width: .6px;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

.nav-btnproduit{
    -fx-font-size: 10px;
    -fx-padding: 10 16;
    -fx-background-radius: 10;
    -fx-background-color: #A62609;
    -fx-text-fill: white;
}

.nav-btnactualiser{
    -fx-font-size: 10px;
    -fx-padding: 10 16;
    -fx-background-radius: 10;
    -fx-background-color: #7AA95C;
    -fx-text-fill: white;
}

.nav-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.logout{
    -fx-background-color: #A62609;
    -fx-cursor:hand;
    -fx-background-radius: 50px;
    -fx-padding: 5px;
}
.logout:hover{
    -fx-background-color: #5041a7;
}



.white-bg{
    -fx-background-color: white	;
    -fx-background-radius: 2%; /* Applique un rayon de 50% pour rendre le fond circulaire */
    -fx-border-radius:2%;
    -fx-border-color: #2c3e50;
    -fx-border-width: 1px;
}

.bg{
    -fx-background-color: white	;
    -fx-background-radius: 6%; /* Applique un rayon de 50% pour rendre le fond circulaire */

}




.white-bg1{
    -fx-background-color: white	;
    -fx-background-radius: 6px;

}

.textfield{
    -fx-background-color: #efefef;
    -fx-background-radius: 4px;
    -fx-border-color: linear-gradient(to top right, #2c2c57, #392b78);
    -fx-border-radius: 4px;
    -fx-border-width: .5px;
    -fx-font-family: Tahoma;
}
.textfield:focused{
    -fx-background-color: #fff;
    -fx-border-width: 1px;
}

.btn{
    -fx-background-color: #2c2c57;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.btn:hover{
    -fx-background-color: #392b78;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to top right, #2c3e50, #2c3e50);
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
    -fx-padding: 0px;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to top right,#2c3e50, #2c3e50);
    -fx-background-radius: 8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 50px;
}
.table-view .column-header .label{
    -fx-text-fill: MintCream;
    -fx-font-family: Arial;
}



/* dashboardDesign.css */

/* Style du champ de recherche */
.search-field {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-color: #ddd;
    -fx-border-radius: 8;
    -fx-padding: 10;
    -fx-font-size: 12;
    -fx-text-fill: #1E0F1C;
    -fx-border-color: #2c3e50;
    -fx-border-width: 1px;
}

/* Style du texte de la barre de recherche lorsqu'elle est inactive */


/* Style du texte de la barre de recherche lorsqu'elle est active */
.search-field:focused {
    -fx-border-color: #3498db;
}


















